{% extends "@themes/"~template~"/html/base.html.twig" %}

{% block content %}
    {% if message is defined %}
        <div class="form-message">
            <p>{{ message|raw }}</p>
        </div>
    {% endif %}

    <div class="form-container">
        {% if header is defined %}
        <h1 class="form-header">{{ header }}</h1>
        {% endif %}
        {{ content|raw }}
    </div>
{% endblock %}
