{# 1270 Logan Theme - Header Partial
    Fixed navigation with logo and desktop nav links. #}
<header id="header">
    <div class="container navbar">
        <a href="#" class="logo">1270 <span>Logan</span></a>
        <ul class="nav-links">
            <li><a href="#location">Location</a></li>
            <li><a href="#character">Building</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#availability" class="btn">Check Availability</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
