{# 1270 Logan Theme - Mobile Navigation Partial
    Responsive hamburger menu for mobile devices. #}
<div class="mobile-nav" id="mobileNav">
    <ul>
        <li><a href="#location">Location</a></li>
        <li><a href="#character">Building</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#availability" class="btn">Check Availability</a></li>
    </ul>
</div>
