{# 1270 Logan Theme - Modal Partial
    Image modal/lightbox for expanded gallery images. #}
<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <img id="modalImage" src="" alt="">
    </div>
</div>
